/*This file contains a lot of different style classes, some might be not used at the moment because changes in the other part of the front end.*/

* {box-sizing: border-box}

/* Add padding to containers */
.container {
    position: relative;
    border-radius: 2px;
    background-color: #f2f2f2;
    padding: 16px 0;
}

.replies, .posts {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}

.categories {
    width: 500px;
    margin: auto;
    background: white;
    padding: 5px;
}

/* Two-column layout */
.column {
  float: left;
  width: 50%;
  margin: 25vw;
  padding: 0 50px;
  margin-top: 6px;
}

.postText {
    margin-left: 37.5vw;
    color: black;
    width: 25vw;
    background: white;
}

.postTitle {
    font-weight: bold;
    color: black;
}

.deleteReplyButton {
    float: right;
    font-weight: normal;
    color: white;
    background-color: #ff6666;
}

.deleteReplyButton:hover {
    background-color: #ff4c4c;
}

.replyAuthor {
    float: left;
    font-weight: bold;
    color: black;
}

.Author {
    font-weight: bold;
    color: black;
}


.post-button, .reply-button {
    margin: 10px;
    width: 40vw;
    height: 40px;
    border-radius: 4px;
    background-color: white;
    color: black;
    border: 2px solid #E8E8E8;
    display: block;
}

.post-button:hover, reply-button:hover {
    border: 2px solid #C0C0C0;
}


.ul {
    display: inline-block;
    text-align: center;
    list-style: inside;
    margin: auto;
}

.li {
    float: left;
    width: 100px;
    line-height: 80px;
    vertical-align: middle;
    text-align: center;
    margin: auto;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
}

/* The actual popup (appears on top) */
.popup, .popuptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    top: 11%;
    left: 52%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


/*Above is for popup for creating new user.*/



.headerRegister {
  overflow: hidden;
  background-image: linear-gradient(135deg, #C94A4A 30%, #F2C14E 70%, #4D9078);
  height: 52vw;
}

/* Style the header links */
.headerRegister a {
    margin-left: 20vw;
    margin-top: 10vw
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 35px;
    line-height: 25px;
    border-radius: 4px;
}
.headerRegister b {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}


/* Float the link section to the right */
.headerRegister-middle {
    align-self: center;
    text-align: middle;
    float: middle;
    width: 25vw;
    margin-left: 37.5vw;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .headerRegister a {
    margin-left: auto;
    float: none;
    display: block;
    text-align: middle;
  }
  .headerRegister-middle {
      float: none;
      width: 100vw;
      margin-left: 0vw;
  }
}


/*For login stuff:*/
.header {
  overflow: hidden;
  background-image: linear-gradient(135deg, #C94A4A 30%, #F2C14E 70%, #4D9078);
}

/* Style the header links */
.header a {
    margin-left: 20vw;
    margin-top: 5vw;
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 50px;
    line-height: 25px;
    border-radius: 4px;
}
.header b {
    margin-left: 100px;
    color: red;
    text-align: right;
    font-size: 18px;
    line-height: 25px;
}

/* Float the link section to the right */
.header-right {
  float: right;
}
.header-middle {
    align-self: center;
    text-align: middle;
    float: middle;
    width: 25vw;
    margin-left: 37.5vw;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    margin-left: auto;
    float: none;
    display: block;
    text-align: middle;
  }
  .header-right {
      float: none;
  }
  .header-middle {
      float: none;
      width: 100vw;
      margin-left: 0vw;
  }
}

/*For the inputs/ login button*/

/* style inputs and link buttons */
input,
.btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 100%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.inner {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}

/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}





/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover, .category-button:hover, .registerbtn:hover {
  opacity: 1;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
    margin-left: 40vw;
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
    color: white;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}


.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.card:nth-child(2n) h1 {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.card:nth-child(4n) h1 {
  background-image: linear-gradient(120deg, #ff9a9e 0%, #fecfef 100%);
}

.card:nth-child(5n) h1 {
  background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
}

/*hmmm*/



/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}
